*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Broken Fax', system-ui;
    font-family: 'Urbanist', sans-serif;

}

body {
    background: linear-gradient(to bottom, white, #1DA9E4);
    font-size: 125%;
}

header {
    text-align: center;
    margin: 0px;
    padding: 2px;
    background-color: #42778E;
}

main {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 5px;
    padding: 5px;
}

input {
    padding: 5px;
}

button {
    padding: 5px 8px;
}

.searchCard {
    flex: 0 0 25%;
    order: 1;
}

.historyCard {
    flex: 0 0 25%;
    order: 3;
}

.todayCard {
    flex: 0 0 75%;
    order: 2;
}

.forecastCard {
    flex: 0 0 75%;
    order: 4;
}

#todayData {
    border: 2px solid black;
    margin: 5px;
    padding: 8px;
}

#fiveDayForecastParent {
    display: flex;
    flex-wrap: wrap;
}